---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ClubExpo">
    <main>
        <div class="bg-black flex w-screen h-screen">
            <div class="bg-yellow-500 h-screen w-full flex-col flex">
                <section>
                    <section class="text-center font-bold text-5xl pt-[5vh]">
                        Text-to-Music Model
                    </section>
                    <section
                        class="text-center font-normal text-2xl px-24 py-4"
                    >
                        This Chatbot processes text input and generates music.
                        It uses a text-to-music model to generate music based on
                        the input text.
                    </section>
                </section>
            </div>

            <div class="bg-violet-800 h-screen w-full">
                <section>
                    <section class="text-center font-bold text-5xl pt-[5vh]">
                        VIT Chatbot
                    </section>
                    <section
                        class="text-center font-normal text-2xl px-24 py-4"
                    >
                        This Chatbot is a VIT student's best friend. It can help
                        you with your queries regarding VIT, like the location
                        of a particular block, the timings of the mess, etc.
                    </section>
                </section>
            </div>
        </div>
    </main>

    <style></style>
</Layout>
