---
import Layout from "../layouts/Layout.astro";
import TextToMusic from "../components/TextToMusic.astro";
import ChatBot from "../components/ChatBot.astro";
---

<Layout title="ClubExpo">
    <main>
        <script src="../scripts/ttm.js"></script>
        <div class="bg-black flex w-screen h-screen">
            <TextToMusic />
            <ChatBot />
        </div>
        event
    </main>

    <style></style>
</Layout>
