---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ClubExpo">
    <main>
        <div class="bg-black flex w-screen h-screen">
            <div class="bg-yellow-500 h-screen w-full"></div>

            <div class="bg-violet-900 h-screen w-full"></div>
        </div>
    </main>

    <style></style>
</Layout>
