<div class="bg-violet-600 h-screen w-full pt-24">
    <script src="../scripts/cb.js"></script>
    <section>
        <section class="text-center font-bold text-5xl pt-[5vh]">
            VIT Chatbot
        </section>
        <section class="text-center font-normal text-2xl px-24 py-4">
            This Chatbot is a VIT student's best friend. It can help you with
            your queries regarding VIT, like the location of a particular block,
            the timings of the mess, etc.
        </section>
    </section>
    <form id="prompt-form" class="px-24 py-6 mt-12 flex flex-col">
        <input
            id="promptcb"
            class="bg-black/[0.2] rounded-3xl py-4 px-4 w-full"
            placeholder="Prompt"
        />
        <button
            type="submit"
            class="bg-black text-white rounded-3xl py-4 px-4 w-1/3 self-center mt-6"
        >
            Send
        </button>
    </form>
    <section class="px-24 py-6 mt-12 flex flex-col">
        <section class="text-center font-bold text-3xl">
            Chatbot Response
        </section>
        <section
            id="response"
            class="text-center font-normal text-xl py-4 typewriter"
        >
        </section>
    </section>
</div>
