<div class="bg-violet-800 h-screen w-full">
    <section>
        <section class="text-center font-bold text-5xl pt-[5vh]">
            VIT Chatbot
        </section>
        <section class="text-center font-normal text-2xl px-24 py-4">
            This Chatbot is a VIT student's best friend. It can help you with
            your queries regarding VIT, like the location of a particular block,
            the timings of the mess, etc.
        </section>
    </section>
    <section class="px-24 py-6">
        <input class="bg-black/[0.2] rounded-3xl py-4 px-4 w-full" />
    </section>
</div>
